<h1>Cart Items</h1>     

<% @cart_items.each do |cart_item| %>
  <div class="cart-item">
    <h3><%= cart_item.product.name %></h3>
    <p>Quantity: <%= cart_item.quantity %></p>
  </div>
<% end %>
<li class="list-inline-item"><%= link_to "Back", products_path(@products), class: "btn btn-secondary" %></li> 