<h1>Cart Item Details</h1>
<%= form_for @cart_item, url: cart_items_path do |f| %>
  <%= f.number_field :quantity, value: 1, min: 1 %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.submit "Add to Cart" %>
<% end %>
